@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 800px;
  background: #f9f9f9;
}

.main .calculator-container {
  width: 400px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #8db596;
  padding: 51px 50px;
}

.main .calculator-container .title {
  text-align: center;
}

.calculator-container .calculator-wrapper {
  height: 100%;
}

.calculator-container .form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.calculator-container .form .bill-form {
  position: relative;
  width: 100%;
}

.form .label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.form .label .label-name {
  position: absolute;
  bottom: 3px;
  left: 0;
  transition: 0.3s ease-out;
  color: #ffffff;
}

.calculator-container .form input {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 10px;
  align-items: center;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background: #8db596;
  font-size: 0.9rem;
  height: 100%;
  padding-top: 19px;
}

.calculator-container .form .qualities-container {
}

.form .qualities-container .label-name {
  display: block;
  color: white;
}

.form .qualities-container .qualities {
  width: 100%;
  padding: 4px 3px;
}

.calculator-container .form .people-form {
  position: relative;
  width: 100%;
}

.form .people-form .people {
}

#submit {
  display: flex;
  width: 100%;
  padding: 0px 0px;
  align-items: center;
  border: none;
  justify-content: center;
  outline: none;
  border-bottom: none;
  font-size: 1rem;
  height: 10%;
  background: #ff9642;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
}


.amount{
    background: #8db596;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}