@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Reem+Kufi&family=Sansita+Swashed:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Dancing Script", cursive;
}
h1,
h2,
h3,
h4 {
  font-family: "Reem Kufi", sans-serif;
}
a,
span,
input,
i,
b,
button,
p {
  font-family: "Reem Kufi", sans-serif;
}

/*Header start*/
.nav-container {
  width: 100%;
  height: 105px;
  position: fixed;
  z-index: 10;
  padding-top: 50px;
}
.nav-container .nav-wrapper {
  width: 100%;
  height: 100%;
  padding: 0% 7%;
}
.nav-wrapper .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav-bar .logo {
}
.nav-bar h2 {
  font-family: "Sansita Swashed", cursive;
  font-weight: 100;
  font-size: 2rem;
}
.nav-bar .navLink-container {
  width: 50%;
}
.navLink-container .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}
.navLink-container .nav-links li {
}
.navLink-container .nav-links li a {
  text-decoration: none;
  color: rgb(64, 64, 64);
  font-weight: 100;
  padding: 12px;
  display: block;
  font-size: 1rem;
  transition: all 0.3s ease-in 0s;
}
.navLink-container .nav-links li a:hover {
  text-transform: capitalize;
  font-size: 1.1rem;
  transition: all 0.3s ease-out 0s;
}
.navLink-container .nav-links .search-container {
  display: flex;
  width: 97px;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}
.navLink-container .nav-links .search-container:hover i,
.navLink-container .nav-links .search-container:hover span {
  text-transform: capitalize;
  font-size: 1.1rem;
  transition: all 0.3s ease-out 0s;
}
.navLink-container .nav-links .search-container:hover i {
  font-size: 1rem;
}
.navLink-container .nav-links .search-container i {
  transition: all 0.3s ease-in 0s;
}
.navLink-container .nav-links .search-container span {
  display: block;
  font-size: 1rem;
  transition: all 0.3s ease-in 0s;
}
.nav-links .profile-bag-wrapper {
  margin-left: 76px !important;
}
.profile-bag-wrapper .profile-bag {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.profile-bag-wrapper .profile-bag li {
}
.profile-bag-wrapper .profile-bag li a {
  padding: 9px 14px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(234, 234, 234) 1px 10px 20px 2px;
  border-radius: 10%;
  margin: 0px 7px;
}
.profile-bag-wrapper .profile-bag li a:hover {
  background: rgb(64, 64, 64);
  color: rgb(255, 255, 255);
}

.slider-container {
  width: 80%;
  height: 900px;
}
.slider-container .slider-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-wrapper .content {
  position: absolute;
  z-index: 1;
  right: -140px;
  top: 50%;
  transform: translate(0%, -50%);
}
.slider-wrapper .content h4 {
  font-family: "Dancing Script", cursive;
  font-size: 2.3rem;
  padding-left: 10px;
}
.slider-wrapper .content h1 {
  font-size: 7rem;
  line-height: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 7px;
}
.slider-wrapper .content p {
  font-size: 1.4rem;
  padding-left: 8px;
  color: rgb(87, 87, 88);
  margin-top: 10px;
}
.slider-wrapper .content button {
  margin-top: 10px;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  box-shadow: rgba(214, 224, 226, 0.44) 3px 6px 20px 0px;
}
.slider-wrapper .content button a {
  text-decoration: none;
  padding: 13px 34px;
  display: block;
  color: black;
}
.slider-container .slider-wrapper .slider {
  display: flex;
}
.slider-wrapper .slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}
.slider .slide img {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.pointer {
  display: flex;
  z-index: 10;
  position: absolute;
  width: 63px;
  justify-content: space-between;
  align-items: center;
  bottom: 13%;
  right: 0%;
  transform: translate(-50%, -50%);
}
.pointer span {
  padding: 7px;
  background-color: rgb(254, 254, 254);
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
div.next {
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
}
div.previous {
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
span.active {
  border: 2px solid rgb(134, 134, 134);
}
.product-description-container {
  margin-top: -68px;
}
.product-description-container .product-description-wrapper {
  padding-left: 13%;
}
.product-description-wrapper .product-description {
}
.product-description .main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 50px;
}
.main .video-playButton {
  position: relative;
}
.main .video-playButton span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  box-shadow: rgba(103, 103, 103, 0.64) 12px 2px 20px 1px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.main .product-content {
  width: 25%;
}
.main .product-content h2 {
  font-size: 3vw;
  letter-spacing: 4px;
  line-height: 100%;
  margin-bottom: 15px;
}
.main .product-content p {
  font-size: 1.2vw;
}
.main .product-content button {
  margin: 19px 0px;
  border: none;
  outline: none;
  background: rgb(255, 255, 255);
  box-shadow: rgba(214, 224, 226, 0.44) 3px 6px 20px 3px;
}
.main .product-content button a {
  text-decoration: none;
  padding: 1vw 3vw;
  display: block;
  color: black;
  font-size: 1vw;
}
.main.img-one {
  display: flex;
  justify-content: space-around;
}
.product-img {
  width: 39%;
  height: 610px;
  position: relative;
  padding: 20px;
}
.product-img img {
  width: 100%;
  height: 100%;
  box-shadow: rgb(249, 249, 249) 1px 1px 17px 1px;
}
.product-img .border {
  position: absolute;
  width: 70%;
  height: 50%;
  top: 0px;
  left: 0px;
  border-left: 1px dashed rgb(212, 212, 212);
  border-top: 1px dashed rgb(212, 212, 212);
}

/*Plant section start*/

.plants-container .plants-wrapper {
  margin: 0px 14.2vw;
  overflow: hidden;
}

.plants-wrapper .plant-title {
  margin-bottom: 80px;
}

.plants-wrapper .plant-title h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 4px;
}

.plants-wrapper .plant-title p {
  text-align: center;
  font-size: 1.5rem;
  color: #585858;
}

.plants-container .plants-slider {
  display: inline-flex;
  justify-content: center;
}

.plants-container .plants-slider .plant-slide {
  width: 270px;
  height: 420px;
  box-shadow: none;
  margin-right: 23px;
  margin-left: 25px;
  padding: 0px 5px;
  padding-top: 5px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.plants-slider .plant-slide.active {
  transition: 0.5s ease-in-out;
  box-shadow: 0px 6px 20px 1px #e6e6e6;
}

.plants-slider .plant-slide .plant-img {
  width: 100%;
  height: 86%;
}

.plants-slider .plant-slide .plant-img img {
  width: 100%;
  height: 100%;
}

.plant-slide .plant-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in;
  overflow: hidden;
}

.plant-slide.active .plant-content {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.5s ease-out;
}

.plant-slide .plant-content .name-price {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plant-content .name-price span {
  display: block;
  font-weight: 600;
}

.plant-content .addTo-cart {
}

.plant-content .addTo-cart a {
  color: black;
  text-decoration: none;
  display: block;
  height: fit-content;
  padding: 10px 11px;
  cursor: pointer;
  display: block;
  transition: 0.3s ease-out;
}

.plant-content .addTo-cart a:hover {
  box-shadow: 1px 1px 20px 0px #f1f1f1;
  transition: 0.3s ease-in;
}

.plant-content .addTo-cart a .fa-plus {
  display: block;
}

.plants-wrapper .slider-button {
  width: 149px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px auto;
}

.plants-wrapper .slider-button .fa-arrow-left {
  color: #bababa;
  font-size: 1.1rem;
  padding: 5px 21px;
  box-shadow: 0px 11px 19px 1px #e0e0e0;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.plants-wrapper .slider-button .fa-arrow-right {
  color: #bababa;
  font-size: 1.1rem;
  padding: 4px 21px;
  box-shadow: 0px 11px 19px 1px #e0e0e0;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.plants-wrapper .slider-button i:hover {
  color: black;
  transition: 0.3s ease-out;
}

/* Gallery Section */

.gallery-container {
}

.gallery-container .gallery-wrapper {
}

.gallery-wrapper .gallery-title {
}

.gallery-wrapper .gallery-title h2 {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 4px;
}

.gallery-wrapper .gallery-title p {
  text-align: center;
  font-size: 1.5rem;
  color: #585858;
}

.gallery-wrapper .gallery-slider {
  margin: 0px 40px;
  padding: 90px 0px;
  overflow: hidden;
}

.gallery-slider .img-slides {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.gallery-slider .img-slides .slide {
  overflow: hidden;
  width: 270px;
  height: 369px;
  margin-right: 23px;
  margin-left: 25px;
  transition: 0.3s ease-in;
}

.gallery-slider .img-slides .slide img {
  width: 100%;
  height: 100%;
}

.gallery-slider .img-slides .slide:hover {
  box-shadow: 0px 20px 20px 1px #969696;
  transition: 0.3s ease-out;
}

/* Footer */

.main-footer {
}

.main-footer .element-container {
  padding: 2% 6%;
}

.element-container .element-wrapper {
  border-radius: 10px;
  overflow: hidden;
  padding-left: 14%;
}

.element-wrapper .elements {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.element-wrapper .elements .media-section {
}

.media-section .plant-text {
  padding: 24px;
  border-bottom: 1px dashed #c0c0c0;
  padding-left: 0;
  padding-right: 40px;
  margin-bottom: 26px;
}

.media-section .plant-text h2 {
  font-family: "Sansita Swashed", cursive;
  font-weight: 500;
  font-size: 2rem;
}

.media-section .media-icon {
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
}

.media-section .media-icon a {
  display: block;
  width: fit-content;
  padding: 10px 14px;
  text-decoration: none;
  box-shadow: 1px 10px 20px 1px gainsboro;
  border-radius: 10%;
  font-size: 1.1rem;
}

.media-section .media-icon a:hover .fa-facebook-f {
  color: #3b5998;
  transition: 0.3s ease-out;
}

.media-section .media-icon a:hover .fa-instagram {
  color: #f09433;
}

.media-section .media-icon a i {
  display: block;
  color: black;
  transition: 0.3s ease-out;
}

.elements .links-section {
}

.elements .links-section .links-text {
  padding: 24px 40px 24px 0px;
  margin-bottom: 26px;
}

.elements .links-section .links-text h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.elements .links-section .links {
}

.elements .links-section .links span {
  display: block;
}

.elements .links-section .links span a {
  display: block;
  text-decoration: none;
  color: #616161;
  padding: 7px 0px;
  width: fit-content;
  position: relative;
}

.elements .links-section .links span a:hover {
  color: black;
}

.elements .links-section .links span a:before {
  content: "";
  border-bottom: 1px solid black;
  position: absolute;
  bottom: 6px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: 0.3s ease-out;
}

.elements .links-section .links span a:hover:before {
  transform: scaleY(1);
  transition: 0.3s ease-out;
}

.elements .contact-section {
}

.elements .contact-section .contact-text {
  padding: 24px 40px 24px 0px;
  margin-bottom: 26px;
}

.elements .contact-section .contact-text h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.elements .contact-section .contacts {
}

.elements .contact-section .contacts span {
  display: block;
  color: #616161;
  padding: 7px 0px;
  width: fit-content;
}

.elements .footer-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 18%;
  height: 232px;
}

.elements .footer-img img {
  width: 100%;
  height: 100%;
}

/**Responsive**/

@media screen and (max-width: 1100px) {
  .product-description-container .product-description-wrapper {
    padding-left: 10%;
  }

  .video-playButton video {
    width: 600px;
    height: 350px;
  }
}
