@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.elements-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements-wrapper form {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f05454;
}

.elements-wrapper form input {
  border: none;
  outline: none;
  height: 25px;
  padding: 2px 5px;
}

.elements-wrapper form button {
  padding: 5px;
  border: none;
  outline: none;
  width: 40px;
  background: #f5a25d;
  color: white;
}

.elements-wrapper form button i {
}

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px 20px;
  border-radius: 15px;
  background: antiquewhite;
  transition: 0.3s ease;
}

.recipes img {
  width: 100%;
  margin: 40px 0px;
}

.recipes ol {
  list-style-position: inside;
}

.elements-wrapper .recipes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px 150px;
  padding: 62px 10%;
  justify-content: center;
  align-items: baseline;
}

.recipes:hover {
  background: white;
  box-shadow: -1px 6px 20px 11px #f1f1f1, inset 0px 0px 20px 0px #e6e6e6;
  transition: 0.3s ease;
}
