@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.timer-container {
  width: 100%;

  height: 1000px;

  display: flex;

  justify-content: center;

  align-items: center;
}

.timer-container .timer-wrapper {
  width: 70%;

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  align-items: center;

  padding: 60px 0px;

  background: #ee6f57;
}

.timer-wrapper .title {
}

.timer-wrapper .title h1 {
  font-size: 3rem;
  font-weight: 600;
  text-shadow: -2px -2px 2px #333333;
}

.timer-wrapper .timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-wrapper .timer h2 {
  font-size: 1.3rem;
  font-weight: 900;
}

.timer-wrapper .timer span {
  font-size: 1.7rem;
  font-weight: 600;
}

.timer-wrapper .image {
  width: 45%;
  height: 40%;
  border: 14px solid #ffefa0;
}

.timer-wrapper .image img {
  width: 100%;

  height: 100%;
}

.timer-wrapper .alarms {
}

.timer-wrapper .alarms .alarm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.timer-wrapper .alarms .event-name {
  border: none;
  outline: none;
  width: 70px;
  height: 30px;
  margin-right: 5px;
}

.timer-wrapper .alarms .alarm-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.timer-wrapper .alarms .alarm-time-container .alarm-time {
  font-size: 0.8rem;
  background: white;
  padding: 0px 11px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-wrapper .alarms .alarm-time-container .arrow {
  height: 100%;
  padding: 0px 4px;
  background: #f6d6ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-wrapper .alarms .alarm-time-container .arrow i {
  height: 40%;
  display: flex;
  padding: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timer-wrapper .set-alarm {
  width: 25%;
}

.timer-wrapper .set-alarm button {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  background: #b8de6f;
  color: black;
  cursor: pointer;
}

.add-alarm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.add-alarm-container span {
  font-size: 1rem;
  margin-right: 7px;
}

.add-alarm-container i {
  padding: 3px 4px;
  color: black;
  background: white;
  cursor: pointer;
}
