/* ------------------------------ IMPORTED FONT ----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ----------------------- CAROUSEL TOUCH SLIDER START ---------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-description {
  position: absolute;
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.swiper-description h1,
.swiper-description p,
.swiper-description button {
  margin: 10px;
  color: black;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}

.swiper-slide-active .swiper-description h1,
.swiper-slide-active .swiper-description p,
.swiper-slide-active .swiper-description button {
  transform: translateX(0);
  transition: all 1s;
  visibility: visible;
  opacity: 1;
}

.swiper-description h1 {
  font-size: 5vw;
  font-weight: 700;
}

.swiper-description p {
  font-size: 1.6vw;
  font-weight: 600;
}

.swiper-description button {
  color: black;
  background: #ffffff;
  border: none;
  outline: none;
  padding: 1.2vw;
  font-size: 1.2vw;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.swiper-description button:hover {
  color: white;
  background: #353333;
  transition: all 0.3s ease-in-out;
}

.swiper-description .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-angle-down,
.fa-angle-up {
  font-size: 2vw;
  bottom: 5%;
  position: absolute;
  outline: none;
  border: none;
  z-index: 10;
  cursor: pointer;
  padding:0.8vw 1.2vw;
  border-radius: 50%;
  background: #212121;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  margin: -1vw 5vw;
}

.fa-angle-down:hover,
.fa-angle-up:hover {
  color: black;
  background: #ffffff;
  transition: all 0.3s ease-in;

}

.fa-angle-down {
  left: 46%;
}

.fa-angle-up {
  right: 46%;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.swiper-pagination {
  width: 15px !important;
  margin: 20px;
}

/* ----------------------- CAROUSEL TOUCH SLIDER START ---------------------- */
