* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-container .slide {
  width: 100%;
  height: 100vh;
  display: flex;
}

.slider-container {
  position: relative;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  background: center center/cover;
}

.buttons #next {
  position: absolute;
  top: 50%;
  right: 15px;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px 11px;
  outline: none;
  cursor: pointer;
}

.buttons #prev {
  position: absolute;
  top: 50%;
  left: 15px;
  background: transparent;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px 11px;
  outline: none;
  cursor: pointer;
}

.buttons #next:hover,
.buttons #prev:hover {
  background: #7a00ff;
  border: 2px solid #7a00ff;
  color: white;
  box-shadow: 0px 0px 9px 0px black;
}
