.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.1s ease-out;
  user-select: none;
}

.sidebarRow:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease-in;
}

.sidebar {
  padding: 10px;
}

.sidebarRow h4 {
  padding: 10px;
  color: white;
  padding: 5px 15px;
}

.see__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-out;
}
